@import '../../styles/main.scss';

.activity-container{
    padding: 50px;

    mat-card{
        @include card;
        background-color: $background-grey;
        max-height: 100px;
        .download-btn{
            @include primary-yes-btn;
        }
    }

    .empty-container{
      h2{
        text-align: center;
      }
    }
}
