<div class="login" fxLayoutAlign="center center">
  <mat-card [class.login-card]="isLogin" [class.login-card-width]="!isLogin">
    <p class="login-card-banner action-icon" [mat-menu-trigger-for]="loginMenu">
      {{ category }}
    </p>

    <section class="login-card-form" fxLayout="column">
      <section fxLayout="row" fxLayoutAlign="space-between center">
        <h2>{{isLogin?'Login' : 'Sign up'}}</h2>
      </section>

      <p>{{isLogin?'Login' : 'Sign up'}} to get started.</p>

      <form *ngIf="loginForm.controls" [formGroup]="loginForm">

        <div fxLayout="{{!isLogin && category == 'Investor'? 'row' : 'column'}}"
          fxLayoutAlign="{{!isLogin && category == 'Investor'? 'space-between center' : null}}">

          <section fxFlex="{{!isLogin && category == 'Investor'? '45' : '100'}}" fxLayout="column">
            <mat-form-field *ngIf="!this.isLogin" [appearance]="appearance">
              <mat-label>Name</mat-label>
              <input type="text" matInput formControlName="name" />

              <mat-error *ngIf="
                loginForm.controls['name']?.hasError('required') &&
                loginForm.controls['name']?.touched
              ">Name field is required!</mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="!isLogin && category == 'Investor'" [appearance]="appearance"
              matTooltip="Preferred company type">
              <mat-label>Preferred company type</mat-label>
              <mat-select formControlName="preferredStartupType">
                <mat-option *ngFor="let company of preferredStartupType" [value]="company">{{company.label}}
                </mat-option>
              </mat-select>

              <mat-error *ngIf="
              loginForm.controls['preferredStartupType']?.hasError('required') &&
              loginForm.controls['preferredStartupType']?.touched
            ">Preferred startup type field is required!</mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="!isLogin" [appearance]="appearance" fxFlex="100">
              <mat-label>Country</mat-label>
              <mat-select formControlName="country" (selectionChange)="onCountrySelect()">
                <mat-option *ngFor="let country of countries" [value]="country?.isoCode">
                  {{country?.name}}
                </mat-option>
              </mat-select>

              <mat-error *ngIf="
                loginForm.controls['country']?.hasError('required') &&
                loginForm.controls['country']?.touched
              ">Country field is required!</mat-error>
            </mat-form-field>

            <!-- <mat-form-field *ngIf="!isLogin" [appearance]="appearance" fxFlex="100">
              <mat-label>City</mat-label>
              <mat-select formControlName="city">
                <mat-option *ngFor="let city of cities" [value]="city?.stateCode">
                  {{city?.name}}
                </mat-option>
              </mat-select>

              <mat-error *ngIf="
                loginForm.controls['city'].hasError('required') &&
                loginForm.controls['city'].touched
              ">City field is required!</mat-error>
            </mat-form-field> -->

            <!-- <mat-form-field *ngIf="!isLogin" [appearance]="appearance" fxFlex="100">
              <mat-label>Address</mat-label>
              <textarea type="text" matInput formControlName="address" rows="1"></textarea>

              <mat-error *ngIf="
                loginForm.controls['address'].hasError('required') &&
                loginForm.controls['address'].touched
              ">Address field is required!</mat-error>
            </mat-form-field> -->

            <mat-form-field [appearance]="appearance" fxFlex="100">
              <mat-label>Email</mat-label>
              <input type="text" matInput formControlName="email" />
              <mat-icon matSuffix class="material-icons-outlined">email</mat-icon>

              <mat-error *ngIf="
                loginForm.controls['email']?.hasError('required') &&
                loginForm.controls['email']?.touched
              ">Email field is required!</mat-error>
            </mat-form-field>
          </section>

          <section fxFlex="{{!isLogin && category == 'Investor'? '45' : '100'}}" fxFlex.lt-md="100" fxLayout="column">

            <mat-form-field *ngIf="!this.isLogin" [appearance]="appearance">
              <mat-label>Last Name</mat-label>
              <input type="text" matInput formControlName="lastName" />

              <mat-error *ngIf="
                loginForm.controls['lastName']?.hasError('required') &&
                loginForm.controls['lastName']?.touched
              ">Last Name field is required!</mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="!isLogin && category == 'Investor'" [appearance]="appearance">
              <mat-label>Business</mat-label>
              <input type="text" matInput formControlName="investorBusiness" />

              <mat-error *ngIf="
                loginForm.controls['investorBusiness']?.hasError('required') &&
                loginForm.controls['investorBusiness']?.touched
              ">Business field is required!</mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="!isLogin" [appearance]="appearance">
              <mat-label>State</mat-label>
              <mat-select formControlName="state">
                <mat-option *ngFor="let state of states" [value]="state?.isoCode">
                  {{state?.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="
                loginForm.controls['state']?.hasError('required') &&
                loginForm.controls['state']?.touched
              ">State field is required!</mat-error>
            </mat-form-field>

            <!-- <mat-form-field *ngIf="!isLogin" [appearance]="appearance">
              <mat-label>Zip Code</mat-label>
              <input matInput formControlName="zipCode" />

              <mat-error *ngIf="
                loginForm.controls['zipCode'].hasError('required') &&
                loginForm.controls['zipCode'].touched
              ">Zip code field is required!</mat-error>
            </mat-form-field> -->

            <!-- <mat-form-field *ngIf="!isLogin" [appearance]="appearance"> -->
              <!-- <mat-label>Contact Number</mat-label>
              <span *ngIf="isFocus" matPrefix class="phonecode">{{'+' + phoneCode}}</span>
              <input matInput formControlName="contactNumber" (focus)="toggleContactNumberFocus()"
                (blur)="toggleContactNumberFocus()" />

              <mat-error *ngIf="
                loginForm.controls['contactNumber'].hasError('required') &&
                loginForm.controls['contactNumber'].touched
              ">Zip code field is required!</mat-error>
            </mat-form-field> -->

            <mat-form-field [appearance]="appearance">
              <mat-label>Password</mat-label>
              <input type="{{visibility?'text' : 'password'}}" matInput formControlName="password" />
              <mat-icon matSuffix class="material-icons-outlined action-icon" (click)="onToggleVisibility()">
                {{visibility?'visibility_on' : 'visibility_off'}}</mat-icon>

              <mat-error *ngIf="
                loginForm.controls['password']?.hasError('required') &&
                loginForm.controls['password']?.touched
              ">Password field is required!</mat-error>
            </mat-form-field>
          </section>

        </div>
        <mat-checkbox *ngIf="isLogin" color="primary" (change)="onCheck($event)">Remember me</mat-checkbox>

        <button class="login-card-form-btn" mat-button (click)="onLogin()" [disabled]="this.loginForm.invalid">
          {{isLogin?'Login' : 'Sign up'}}
          <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>
        </button>
      </form>

      <p *ngIf="isLogin" class="login-card-form-signin-text action-icon">
        Don't have an account? <a (click)="onSignupToggle()">Sign up</a>
      </p>

      <p *ngIf="!isLogin" class="login-card-form-signin-text action-icon">
        Already have an account? <a (click)="onSignupToggle()">Login</a>
      </p>
    </section>
  </mat-card>
</div>

<mat-menu #loginMenu="matMenu">
  <section class="menu" fxLayout="column" fxLayoutGap="7px">
    <a class="action-icon" (click)="this.changeSignInType('Company')">{{isLogin?'Login as' : 'Register'}} Company</a>
    <a class="action-icon" (click)="this.changeSignInType('Investor')">{{isLogin?'Login' : 'Sign up'}} as investor</a>
    <a class="action-icon" (click)="this.changeSignInType('Employee')">{{isLogin?'Login' : 'Sign up'}} as employee</a>
    <a class="action-icon" (click)="this.changeSignInType('Client')">{{isLogin?'Login' : 'Sign up'}} as client</a>
  </section>
</mat-menu>
