@import './variables.scss';

@mixin primary-yes-btn {
  background-color: $black;
  color: $white;
  border-radius: 5px;
  transition: 0.3s ease-in-out;

  &:disabled{
    cursor:not-allowed;
    color: $white;
  }
}

@mixin primary-no-btn {
  background-color: $white;
  color: $black;
  border-radius: 5px;
  border: 1px solid $black;
  &:disabled{
    cursor:not-allowed;
    color: $black;
  }
}

@mixin header {
  font-size: 40px;
}

@mixin card{
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 5px 15px 30px $primary-shadow;
}
