@font-face {
  font-family: 'Mulish-Bold';
      src: url('../assets/fonts/MulishBold/Mulish-Bold.eot');
      src: url('../assets/fonts/MulishBold/Mulish-Bold.eot?#iefix') format('embedded-opentype'),
           url('../assets/fonts/MulishBold/Mulish-Bold.svg#Mulish-Bold') format('svg'),
           url('../assets/fonts/MulishBold/Mulish-Bold.ttf') format('truetype'),
           url('../assets/fonts/MulishBold/Mulish-Bold.woff') format('woff'),
           url('../assets/fonts/MulishBold/Mulish-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish-ExtraBold';
      src: url('../assets/fonts/MulishExtraBold/Mulish-ExtraBold.eot');
      src: url('../assets/fonts/MulishExtraBold/Mulish-ExtraBold.eot?#iefix') format('embedded-opentype'),
           url('../assets/fonts/MulishExtraBold/Mulish-ExtraBold.svg#Mulish-ExtraBold') format('svg'),
           url('../assets/fonts/MulishExtraBold/Mulish-ExtraBold.ttf') format('truetype'),
           url('../assets/fonts/MulishExtraBold/Mulish-ExtraBold.woff') format('woff'),
           url('../assets/fonts/MulishExtraBold/Mulish-ExtraBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish-Italic';
      src: url('../assets/fonts/MulishItalic/Mulish-Italic.eot');
      src: url('../assets/fonts/MulishItalic/Mulish-Italic.eot?#iefix') format('embedded-opentype'),
           url('../assets/fonts/MulishItalic/Mulish-Italic.svg#Mulish-Italic') format('svg'),
           url('../assets/fonts/MulishItalic/Mulish-Italic.ttf') format('truetype'),
           url('../assets/fonts/MulishItalic/Mulish-Italic.woff') format('woff'),
           url('../assets/fonts/MulishItalic/Mulish-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish-Regular';
      src: url('../assets/fonts/MulishRegular/Mulish-Regular.eot');
      src: url('../assets/fonts/MulishRegular/Mulish-Regular.eot?#iefix') format('embedded-opentype'),
           url('../assets/fonts/MulishRegular/Mulish-Regular.svg#Mulish-Regular') format('svg'),
           url('../assets/fonts/MulishRegular/Mulish-Regular.ttf') format('truetype'),
           url('../assets/fonts/MulishRegular/Mulish-Regular.woff') format('woff'),
           url('../assets/fonts/MulishRegular/Mulish-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
