@import "../../styles/main.scss";

.job-posts {
  padding: 15px;
  background-color: $white;
  height: calc(100vh - 100px);

  

  mat-vertical-stepper {
    height: 20vh;
    button {
      @include primary-yes-btn;
    }
  }
}
