<div class="reg-company" fxLayoutAlign="center center">
  <mat-card class="reg-company-card">
    <h2 class="reg-company-card-header">{{isEdit? 'Edit Company' : 'Register Company'}}</h2>
    <p class="reg-company-card-subheader">{{isEdit? 'Edit your company details.' : 'You can register with us by filling this form.'}}</p>

    <form fxLayout="column" [formGroup]="registerCompanyForm">

      <section fxFlex="100" fxLayout="row"  fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="45" [appearance]="appearance">
          <mat-label>Name of Company</mat-label>
          <input type="text" matInput formControlName="name">
          <mat-error *ngIf="
      registerCompanyForm.controls['name'].hasError('required') &&
      registerCompanyForm.controls['name'].touched
    ">Name field is required!</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="45" [appearance]="appearance">
          <mat-label>Founder</mat-label>
          <input type="text" matInput formControlName="founder">
          <mat-error *ngIf="
      registerCompanyForm.controls['founder'].hasError('required') &&
      registerCompanyForm.controls['founder'].touched
    ">Founder field is required!</mat-error>
        </mat-form-field>
      </section>

      <section fxFlex="100" fxLayout="row"  fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="45" [appearance]="appearance">
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="email">
          <mat-error *ngIf="
      registerCompanyForm.controls['email'].hasError('required') &&
      registerCompanyForm.controls['email'].touched
    ">Email field is required!</mat-error>

          <mat-error *ngIf="
      registerCompanyForm.controls['email'].hasError('pattern') &&
      registerCompanyForm.controls['email'].touched
    ">Please enter valid email format!</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="45" [appearance]="appearance">
          <mat-label>Password</mat-label>
          <input type="text" matInput formControlName="password">
          <mat-error *ngIf="
      registerCompanyForm.controls['password'].hasError('required') &&
      registerCompanyForm.controls['password'].touched
    ">Password field is required!</mat-error>
        </mat-form-field>
      </section>

      <section fxFlex="100" fxLayout="row"  fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="45" [appearance]="appearance">
          <mat-label>Website</mat-label>
          <input type="text" matInput formControlName="website">
          <mat-error *ngIf="
      registerCompanyForm.controls['website'].hasError('required') &&
      registerCompanyForm.controls['website'].touched
    ">Website field is required!</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="45" [appearance]="appearance">
          <mat-label>Qr Code Link</mat-label>
          <input type="text" matInput formControlName="qrCode">
          <mat-error *ngIf="
      registerCompanyForm.controls['qrCode'].hasError('required') &&
      registerCompanyForm.controls['qrCode'].touched
    ">Qr code field is required!</mat-error>
        </mat-form-field>
      </section>

      <section fxFlex="100" fxLayout="row"  fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="45" [appearance]="appearance">
          <mat-label>Description</mat-label>
          <input type="text" matInput formControlName="description">
          <mat-error *ngIf="
      registerCompanyForm.controls['description'].hasError('required') &&
      registerCompanyForm.controls['description'].touched
    ">Description field is required!</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="45" [appearance]="appearance">
          <mat-label>Product</mat-label>
          <input type="text" matInput formControlName="product">
          <mat-error *ngIf="
      registerCompanyForm.controls['product'].hasError('required') &&
      registerCompanyForm.controls['product'].touched
    ">Product field is required!</mat-error>
        </mat-form-field>
      </section>

      <section fxFlex="100" fxLayout="row"  fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="45" [appearance]="appearance">
          <mat-label>Type</mat-label>
          <!-- <input type="text" matInput> -->

          <mat-select formControlName="type">
            <mat-option *ngFor="let type of startupType" [value]="type.value">{{type.label}}</mat-option>
          </mat-select>

          <mat-error *ngIf="
      registerCompanyForm.controls['type'].hasError('required') &&
      registerCompanyForm.controls['type'].touched
    ">Type field is required!</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="45" [appearance]="appearance">
          <mat-label>Date of Registration</mat-label>
          <input type="text" matInput [matDatepicker]="picker" formControlName="dateOfReg">
          <mat-error *ngIf="
      registerCompanyForm.controls['dateOfReg'].hasError('required') &&
      registerCompanyForm.controls['dateOfReg'].touched
    ">Date is required!</mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </section>

      <section fxFlex="100" fxLayoutAlign="space-between center">
        <button mat-button class="reg-company-clear-btn" (click)="onClear()">Clear</button>
        <button mat-button class="reg-company-save-btn" (click)="onSave()"
          [disabled]="this.registerCompanyForm.invalid">Save</button>
      </section>
    </form>
  </mat-card>
</div>
