@import "../../styles/main.scss";

.reg-company {
  height: 100vh;

  &-card {
    @include card;
    width: 35vw;
    min-width: 300px;
    height: auto;

    &-header {
      @include header;
      @include less-than-960{
        text-align: center;
        font-size: 24px;
      }
    }

    &-subheader {
      color: $text-grey;
      margin-bottom: 25px;

      @include less-than-960{
        text-align: center;
        // font-size: 24px;
      }
    }
  }

    &-clear-btn {
      @include primary-no-btn;
      width: 40%;
      margin-top: 25px;
    }

    &-save-btn {
      @include primary-yes-btn;
      width: 40%;
      margin-top: 25px;
    }

}

mat-form-field{
  margin-bottom: 10px;
  @include less-than-960{
    width: 100% !important;
  }
}

mat-error{
  font-size: 12px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 20px !important;
  padding: 0.75em 0.75em 0 0.75em;
}

::ng-deep .mat-form-field-underline {
  width: 0 !important;
}
