<div class="layout" >
  <mat-toolbar *ngIf="this.user" class="layout-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <!-- <mat-form-field>
      <mat-label>Filter Companies</mat-label>
      <mat-option *ngFor="let type of startupType" [value]="type.value">{{type.label}}</mat-option>
      <mat-select>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Search Companies</mat-label>
      <input matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field> -->

    <h2 class="layout-header">Welcome Aman</h2>
    <h2 class="layout-header">Welcome Aman</h2>
    <h2 class="layout-header">Welcome Aman</h2>
  </mat-toolbar>

  <ng-container>
    <ng-content></ng-content>
  </ng-container>
</div>
