<div class="layout">
  <mat-drawer-container class="layout-sidenav-container" autosize [hasBackdrop]="true">
    <mat-drawer class="layout-sidenav" #drawer mode="over">
      <section fxLayoutAlign="end">
        <mat-icon class="action-icon close-sidenav" (click)="drawer.close()">close</mat-icon>
      </section>

      <section fxLayout="column">
        <p class="side-nav-items" routerLink="startups" routerLinkActive="active-ele" class="layout-sidenav-header action-icon" fxLayoutAlign="start center">
          <button mat-icon-button>
            <mat-icon>home</mat-icon>
          </button>
          Home
        </p>

        <p class="side-nav-items" routerLink="edit-account" routerLinkActive="active-ele" class="layout-sidenav-header action-icon" fxLayoutAlign="start center">
          <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
          </button>
          My Account
        </p>

        <p *ngIf="user.categoryType === 'Company'" class="side-nav-items" routerLink="create-job-post" routerLinkActive="active-ele" class="layout-sidenav-header action-icon" fxLayoutAlign="start center">
          <button mat-icon-button>
            <mat-icon>work</mat-icon>
          </button>
          Create Job Post
        </p>

        <p class="side-nav-items" routerLink="activity" routerLinkActive="active-ele" class="layout-sidenav-header action-icon" fxLayoutAlign="start center">
          <button mat-icon-button>
            <mat-icon>timeline</mat-icon>
          </button>
          View Activity
        </p>

        <p *ngIf="user.categoryType === 'Employee'" class="side-nav-items" routerLink="job-posts" routerLinkActive="active-ele" class="layout-sidenav-header action-icon" fxLayoutAlign="start center">
          <button mat-icon-button>
            <mat-icon>timeline</mat-icon>
          </button>
          View Job Posts
        </p>

        <p *ngIf="user.categoryType === 'admin'" class="side-nav-items" routerLink="waiting-list" routerLinkActive="active-ele" class="layout-sidenav-header action-icon" fxLayoutAlign="start center">
          <button mat-icon-button>
            <mat-icon>timeline</mat-icon>
          </button>
          View Waiting List
        </p>
      </section>
    </mat-drawer>

    <mat-toolbar *ngIf="this.isLoggedIn" class="layout-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
      <!-- <mat-form-field>
          <mat-label>Filter Companies</mat-label>
          <mat-option *ngFor="let type of startupType" [value]="type.value">{{type.label}}</mat-option>
          <mat-select>
          </mat-select>
        </mat-form-field> -->

      <button mat-button (click)="drawer.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <h2 class="layout-header">Welcome {{user?.name}}</h2>
      <button mat-button class="layout-header" (click)="onLogout()">Logout</button>

    </mat-toolbar>
    <div [class.layout-content]="isLoggedIn">
      <ng-content></ng-content>
    </div>

  </mat-drawer-container>
</div>
