@import '../../../styles/main.scss';
.layout{

  &-sidenav-container{
    height: 100vh;
    // border-radius: 10px;
    // margin-left: 3px;
  }

  &-sidenav{
    width: 14vw;
    background-color: #4b4b4b;
    color: $white;
    padding: 5px;

    &-header{
      font-size: 15px;
      button{
        mat-icon{
          font-size: 20px;
          margin-right: 1rem;
          margin-bottom: 3px;
        }
      }
    }
  }


  &-toolbar{
    background-color: $black;
    color: $white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    // width: 90vw;
  }

  &-content{
    margin-top: 68px;
  }
}
