@import '../../../styles/main.scss';
.layout{

  .active-ele{
    background-color: white;
    color: $black;
    padding: 0 5px;
    border-radius: 20px;
  }

  &-sidenav-container{
    height: 100vh;
    background-color: $white;
  }

  &-sidenav{
    width: 20vw;
    background-color: #4b4b4b;
    color: $white;
    padding: 5px;

    &-header{
      font-size: 15px;
      border-radius: 20px;
      transition: ease-in-out 0.4s;
        &:hover{
          background-color: white;
          color: $black;
          padding: 0 5px;
          transition: ease-in-out 0.4s;
        }
      button{
        mat-icon{
          font-size: 20px;
          margin-right: 1rem;
          margin-bottom: 3px;
        }
      }
    }
  }


  &-toolbar{
    background-color: $black;
    color: $white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    // width: 90vw;
  }

  &-content{
    margin-top: 68px;
  }
}
