<div class="layout">
  <mat-toolbar *ngIf="this.isLoggedIn" class="layout-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <!-- <mat-form-field>
      <mat-label>Filter Companies</mat-label>
      <mat-option *ngFor="let type of startupType" [value]="type.value">{{type.label}}</mat-option>
      <mat-select>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Search Companies</mat-label>
      <input matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field> -->
    <h2 class="layout-header"></h2>
    <h2 class="layout-header">Welcome {{this.user?.type}}</h2>
    <button mat-button class="layout-header" (click)="onLogout()">Logout</button>

  </mat-toolbar>

  <div [class.layout-content]="isLoggedIn">
    <ng-content></ng-content>
  </div>
</div>
